@charset "utf-8";
/* CSS Document */


#presentation {
	background:#993A38;
	text-align:center;
}

#main {
	padding:0px;
}

aside nav li {
	list-style:none;
	margin:2px;
	vertical-align:middle;
}

#slide_control img {
	cursor:pointer;
	margin:4px;
}
