@import "/themes/ui-darkness/jquery-ui-1.7.2.custom.css";

table {
    margin-bottom: -1px;
    width: 100%;
}

tr {
    color: white;
}

th {
    background-color: #666;
}

tr.odd {
    background-color: #555;
}

tr.even {
    background-color: #666;
}

td, th {
    border: inherit;
}

th span.css_right {
    float: right;
}

div.ui-widget-header {
    border: inherit;
    text-align: center;
}

#data_length {
    float: right;
}

#data_filter {
    float: left;
}

#add_new {
    float: left;
}

#data_info {
    display: inline-block;
}

#data_paginate {
    float: right;
}

#add_new {
/*
    position: relative;
    top: -1em;
 */
}
