@import 'jquery.autocomplete.css';

fieldset.item {
	border: solid thin;
}
fieldset>ol {
	list-style-type: none;
}
fieldset>ol>li {
	display: inline-block;
}
fieldset.buttons {
	border-style: none;
}
textarea {
	margin: 0px;
}
li.date>fieldset {
	margin: 0px;
}
li.date>fieldset>ol {
	margin: 0px;
}

.inline-errors {
 color: red;
 font-weight: bold;
}
