<% content_for :title do %>
  About us
<% end %>

<h1><img src="/images/gelcaps_on_wood.png" /></h1>
<p>Darwin pharmacy launched its first store at the prestigious Government General Hospital - Gunadala, Vijayawada. We are running and getting a very positive feedback from our own stores in Vijayawada.</p>
<p>Darwin Pharmacy is a sister concern of The Darwin Group of Companies, pioneer in pharma manufacturing industry. Having a strong commitment and experience in bringing quality medicines to all, Darwin entered into the pharmacy services as part of its integration strategy. Having a strong knowledge in this space we believe we can provide high quality  services to our customers.</p>

<p>We launched 10 stores in Vijayawada as a pilot and and we are pleased with the success. We are now growing aggressively through franchises across AP to serve our customers better. We plan to establish 200 Pharmacies by the end of next quarter across AP.</p>
<address>
  <a href="mailto:site@darwin.co.in">Contact us</a>
</address>
