<% content_for :title do %>
 Services offered at Darwin Pharmacy
<% end %> 

<% content_for :aside do %>
<section>
<h1>Services</h1>
	<ul>
	 <li href=<%= url_for :controller => 'public', :action => 'clinic' %>>Clinic</li>
	 <li href=<%= url_for :controller => 'public', :action => 'lab' %>>Diagnostic Lab</li>
	 <li href=<%= url_for :controller => 'public', :action => 'store' %>>Medical Store</li>
	</ul>
 </section>
<% end %>
<p>Quality healthcare delivered in your community</p>
<p>Thank you for choosing us for your healthcare needs. We provide a comprehensive range of healthcare services from primary, maternity, and paediatric services to various specialty services. We put great emphasis on continuity of care and good patient physician relationship.</p>
<p>At Darwin, we value patient well being highly and strongly advocate patient education and participation in their healthcare. We believe that everyone deserves quality healthcare, and that it is best provided in the community where one lives. We encourage each one of you to select a Darwin doctor as your family physician, who will in turn coordinate all your healthcare needs.</p>
<p>At Darwin, we want to build a community of mutual trust and respect. Through this website, we hope to provide individuals, families, and communities with information that is important for your well being. Welcome!</p>
<p>Bring back the concept of the trusted family doctor. We encourage patients to establish a relationship with our doctor, ask questions, and educate themselves about their health conditions. Comprehensive range of services. One stop shopping stop - lab service and pharmacy you can trust.</p>
<p>Good health starts with clean facilities - Clean, non-intimidating, well maintained facilities. No conflict of interest &ndash; We do not pay commission to the doctors for lab orders and medications. They are free to practice quality, economical medicine, cutting down on unnecessary tests and medicines.</p>
<p>EMR - We maintain a complete electronic record of the patient's health history at Darwin. It includes your visit history, lab results and medication history. A patient can visit any of the Darwin clinics and the doctor there can instantly access the person's complete health record. This will reduce medical errors enormously and the patient doesn't have to struggle with recalling and transporting their health records to every medical visit.</p>