<p align="center">&nbsp; </p>
<object align='center' classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="612" height="112" id="FlashID" title="Darwin Pharmacy">
  <param name="movie" value="/darwin.swf" />
  <param name="quality" value="high" />
  <param name="wmode" value="opaque" />
  <param name="swfversion" value="8.0.35.0" />
  <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don't want users to see the prompt. -->
  <param name="expressinstall" value="/Scripts/expressInstall.swf" />
  <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="/darwin.swf" width="612" height="112">
    <!--<![endif]-->
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="8.0.35.0" />
    <param name="expressinstall" value="/Scripts/expressInstall.swf" />
    <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
    <div>
      <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
      <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
    </div>
    <!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
<p align="center"><strong>We are still working on the website.</strong></p>
<p align="center">&nbsp;</p>
<p align="center">feel free to visit the completed sections in the mean time.</p>
<p align="center">&nbsp;</p>
<p align="center">&nbsp;</p>
