<% content_for :title do %>
  Services offered at Darwin Pharmacy
<% end %> 

<% content_for :aside do %>
  <section>
    <h1>Services</h1>
	<ul>
	  <li href=<%= url_for :controller => 'public', :action => 'clinic' %>>Clinic</li>
	  <li href=<%= url_for :controller => 'public', :action => 'lab' %>>Diagnostic Lab</li>
	  <li href=<%= url_for :controller => 'public', :action => 'store' %>>Medical Store</li>
	</ul>
  </section>
<% end %>

<p>Did you know that a majority of PathoLabs across India use outdated  (manual) sample processing techniques and low quality equipment? This  makes the results from most unbranded labs highly unreliable. Now, you  have a branded alternative to unbranded healthcare - Darwin Diagnostics.</p>
<p>Sometimes the best way to know what's going on with your body is to  know what's going on inside your body. That's where Darwin Diagnostics  comes in. We offer state-of-the-art lab testing so that you can  prevent, detect, or manage disease. </p>
<p>Darwin can collect your lab sample and deliver your report at any of our pharmacy locations. <u>Or, if you  wish, we can even collect your sample from the comfort of your home.<em>(not availiable yet but intend to add in near future.)</em></u></p>
<p>When we receive your sample, we immediately get to work on processing  it so that you can get your result fast. Our <s>central processing lab is  ISO 9001 certified</s>, and we utilise advanced fully automated equipment  to ensure that your results are accurate - always.</p>
<p>Of course, it wouldn't be a Darwin service if we didn't also save you  money. Tests from Darwin are an average of 40% less expensive than  <u>other national pathology labs and corporate hospitals!<em>(unbranded labs too)</em></u></p>
<p>As with all Darwin services, Darwin Diagnostics is committed to quality. When you choose Darwin for your diagnostic lab needs, you are choosing uncompromised accuracy. The following are just some of the ways Darwin ensures the accuracy of your tests:</p>
<ul>
  <li>The use of fully automated equipment used by the best labs in the world</li>
  <li><s>ISO 9001 accreditation</s></li>
  <li>Highly systematic sample collection</li>
  <li>Partnerships with the most reputable suppliers</li>
  <li>Well-qualified and highly experienced staff</li>
  <li>Rigorous quality management system</li>
</ul>
</p>
<p>Quality lab testing from Darwin will provide you the right results, so that you and your doctor can manage your health the right way.
  </p>
</p>
<p><em>Also needs rearranging of the paragraphs, and even points within a paragraph. Need a flow. A continuous stream of infomercial.</em></p>
