<% content_for :title do %>Services offered at Darwin Pharmacy<% end %>
<% content_for :aside do %>
<section>
 <h1>Services</h1>
 <ul>
  <li href="<%= url_for :controller => 'public', :action => 'clinic' %>">Clinic</li>
  <li href="<%= url_for :controller => 'public', :action => 'lab' %>">Diagnostic Lab</li>
  <li href="<%= url_for :controller => 'public', :action => 'store' %>">Medical Store</li>
 </ul>
</section>
<% end %>

<p>How do you ensure that your medicines are 100% fit? Shop at Darwin and we'll worry about that for you. Here is how we keep your medicines healthy.</p>
<a id="Drug Sourcing" name="Drug Sourcing"><strong>Drug Sourcing</strong></a>
<p> Quality medicines start with quality ingredients and quality manufacturing processes. At Darwin we sell medicines from only the most reputable manufacturers - companies that are well known, companies that have a long track record, and companies that manufacture to world-class standards.</p>
<p>Why is this so important? With approximately 20,000 drug manufacturers in India, telling the difference between a good company and a substandard one becomes difficult for consumers. To cut costs, unethical manufacturers produce drugs in plants which do not meet approved standards, reduce the amount of active ingredient in a medicine, and add ingredients which should not be in a drug to begin with. The resulting lack of purity and efficacy in a medicine can cause serious health risks to a consumer.</p>
<p> Unfortunately, in many instances these substandard medicines are sold with the full knowledge of the retailer. Seeking to make a little more profit, the retailer accepts these medicines and passes them on to unsuspecting consumers. The retailer may even pay doctors for referring patients who have been prescribed these questionable medicines.</p>
<p> At Darwin, we never gamble with your health. Before any company's product makes it onto our shelves, the company is checked by Darwin and is only added after we are comfortable with it. For the same reason, we insist that all customers take a computer generated bill from us. This ensures that you can never be sold a medicine that was not approved by the company. And at Darwin, we do not pay doctors for pharmacy referrals.</p>
<p> So come to Darwin, and let us show you how a pharmacy can make your life safer.</p>
<strong>Drug Storage</strong>
<p>Reputable manufacturers take great pains to ensure that your medicines are manufactured in ideal conditions and to high standards. Unfortunately, those medicines can then be sold at retail chemists who do not take the same care to store the medicines in an ideal environment. Hot and humid weather can spoil the medicines at a typical chemist rendering the medicines useless long before its expiry date. Since this spoilage is not clearly visible on the medication consumers may purchase an ineffective medicine without notice.</p>
<p> To combat this issue, India's Drug and Cosmetics Act mandates that most drugs should be stored under 25C. Perishable medicines, such as insulin, are even more sensitive to temperature and must be kept in cold storage. However, very few medical shops have the equipment necessary to maintain the climate controlled environment necessary to keep medicines &quot;healthy&quot;.</p>
<p> Darwin is committed to protecting the quality of your medicines. Every Darwin outlet is fully air conditioned. Fans distribute this cool air throughout the shop to ensure every medicine is equally cared for. Refrigerators are also used in every outlet to house injections and live vaccines.</p>
<p> The next time you need medicines, choose healthy medicines from Darwin.</p>
Medicines are delicate items. If not produced under proper conditions they will not work effectively. If not stored at the right temperatures they will loose their potency. Unfortunately, it has been found that as many as 30% of the drugs produced in India could be fake or substandard. To make matters worse over 75% of unbranded medical shops do not use air conditioning, despite the Drugs and Cosmetics Act mandating the storage of medicines under 25°C. Why put your health at risk?</p>

Darwin is different. Darwin was started to make it safer for consumers to purchase medicines. We source and sell only reputable medicines from the most trusted manufacturers. Every one of our 600 outlets utilizes air conditioning and refrigeration units to ensure that your medicines stay factory-fresh and work as expected. We even employ highly trained pharmacists to provide you great customer care.

Darwin did not stop with just making your medicines safer. We also made them cheaper and more convenient to purchase. We sell all of our medicines at a 10% discount on MRP. We also offer free home delivery, free healthcare camps, and numerous additional savings opportunities. And since we have 600 neighborhood outlets and carry over 25,000 medicines, there is likely a Darwin near you with all the medicines you need. 

So why take a chance with your health? Next time you think medicines, think Darwin. 
