<nav><h1><%= ((current_user ? current_user.login + "  >>  " : ' ') + controller_name + ' >> ' + (params[:id] || '')).titleize %></h1>
<ul>
<% for resource in [
	:bills,
	:customers,
	:franchises,
	:products,
	:product_batches,
	:purchase_bills,
	:purchase_requests,
	:report,
	:sale_bills,
	:audited_stock_records,
	:users
] %>
  <% if permitted_to? :index, resource %>
    <li><%= link_to resource.to_s.humanize, :controller => resource %></li>
  <% end %>
<% end %>
</ul></nav>
